@import './fonts.scss';

html,
body,
main {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/*
  Style that are not inside of chakra
*/
.hidde_slider-bar {
  scrollbar-width: none;
}

/*
  Select > Option Color change
*/
.select-option-bg-color-primary > option {
  background-color: #101010 !important;
}