@import './fonts.scss';

html,
body,
main {
  font-family: 'w-sans-regular',Lato;
  font-weight: normal;
  font-style: normal;
}
.hideMenuAnimation {
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}